{% if images is not empty %}
    <div class="container-fluid">
        <div class="row">
            <div id="sliderHomePage" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->

                <ol class="carousel-indicators">
                {% set i = 0 %}
                {% for image in images %}
                    <li data-target="#sliderHomePage" data-slide-to="0" {% if i == 0 %}class="active"{% endif %}></li>
                    {% set i = i + 1 %}
                {% endfor %}
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% set active = 'active' %}
                    {% for image in images %}
                        <div class="item {{ active }}">
                            <img src="{{ asset(image.webPath) }}" alt="{{ image.alt }}" class="img-responsive center-block"/>
                            <div class="carousel-caption">
                                {% if image.title is not null %}<h4>{{ image.title }}</h4>{% endif %}
                                {% if image.content is not null %}<hr><p>{{ image.content }}</p>{% endif %}
                            </div>
                        </div>
                        {% set active = '' %}
                    {% endfor %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#sliderHomePage" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#sliderHomePage" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
{% endif %}