{% if sales is empty %}

    <div class="alert alert-warning text-center" role="alert">Aucun article en vente pour ce produit type...</div>

{% else %}
    {% for sale in sales %}

        <div class="col-sm-6 col-md-4 product_sale">
            <div class="thumbnail">

                {% if sale.image %} {# Si le vendeur à ajouter une image à son produit #}
                    <img src="{{ (sale.image.webPath) | apply_filter('thumb_product_show') }}"
                         alt="{{ sale.image.alt }}"/>
                {% else %} {# Sinon on prend par défault celle du produit Type #}
                    <img src="{{ sale.product.image.webPath | apply_filter('thumb_product_show') }}"
                         alt="{{ sale.product.image.alt }}"/>
                {% endif %}

                <div class="caption">
                    <p class="shape"><span class="label label-default">{{ sale.shape.wording }}</span></p>
                    <p class="date">{{ sale.getDateAdded | date('d/m/Y H:i') }}</p>
                    <h3><span class="badge">x{{ sale.stock }}</span>{{ sale.name | truncate(25) }}</h3>

                    <p class="price">{{ sale.price }}€</p>


                    <p class="text-center">
                        <a href="{{ path('sale_show', { 'id': sale.id }) }}" class="btn btn-default"
                           role="button">Voir l'article</a>
                        {% if app.user and app.user.id == sale.user.id %}
                        <a href="{{ path('sale_edit', { 'id': sale.id }) }}" class="btn btn-primary">Modifier</a>
                        {% elseif app.session.get('articleInMyCart') and app.session.get('articleInMyCart') == sale.id %}
                            {# @TODO : Méthode pour savoir si le produit est dans mon panier ou non #}
                            <a href="{{ path('ulysse_businnes_delete_article_cart', { 'article_id' : sale.id }) }}">Supprimer
                                de mon panier</a>
                        {% else %}
                        <button type="button" class="btn btn-success" data-toggle="modal"
                                data-target="#Purchase{{ sale.id }}">
                            Ajouter au panier
                        </button>

                    <div class="modal fade purchaseModal" id="Purchase{{ sale.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Ajouter
                                        <strong>{{ sale.product.name }}</strong> dans mon panier</h4>
                                </div>
                                <div class="modal-body">
                                    <h4>{{ sale.price }}€</h4>

                                    <div class="form-group">
                                        <label for="for-control">Quantité : </label>
                                        <select class="form-control quantityToAdd">
                                            {% for i in 1..sale.stock %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    {#<button type="button" class="btn btn-default" data-dismiss="modal">Close</button><br>#}
                                    <button type="button" data-id-sale="{{ sale.id }}"
                                            class="btn btn-success addToMyCart">Confirmer et continuer mes achats
                                    </button>
                                    <button type="button" class="btn btn-primary">Confirmer et payer (@TODO)
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}

{% endif %}